*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
# Laravel storage (important)
 /storage/logs
 /storage/framework
 /bootstrap/cache

# User uploads (VERY important for your project)
 /public/profiles

# Optional (extra safety)
 *.env